
<!-- <div class="thumb-wrapper">
    <div class="top" routerLink="/details/{{data.id}}">
    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
    <div class="img-box">
        <img src="{{data.image}}" style="width: 100%; height: 300px;" alt="">									
    </div>
    <div class="thumb-content">
        <h4 style="height: 90px; overflow: hidden;">{{data.title}}</h4>	
       <p style="height: 100px; overflow: hidden;">{{data.description }}</p>
                                
        <div class="star-rating">
            <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
            </ul>
        </div>
        <p class="item-price"> <b>${{data.price}}</b></p>
    </div>
</div>

    <div class="bottom">

   
        <a *ngIf="!Isadded" (click)="Isadded =true"  class="btn btn-primary">Add to Cart</a>
        <div *ngIf="Isadded"  class="add d-flex">
            <input class="w-50 me-4" type="number" placeholder="Add Quantity" [(ngModel)]="amount">
            <button  (click)="add();Isadded =false" style="border: none; border-radius: 3px; padding: 8px;" class="  bg-danger">Add</button>
        </div>
    </div>
</div>  					 -->


<!-- <div  *ngIf="loading" class="spinner text-center w-100">
    <app-spinner></app-spinner>
    </div> --> 
    
    
    <!-- <div class="Cart-Items"  >
        <div class="image-box">
        <img src="{{data.image}}" style="height: 120px;" />
        </div>
        <div class="about">
        <h1 class="title">{{data.title}}</h1>
        
        
        </div>
       
    
        <div class="counter">
            <h3 class="subtitle text-center">${{data.price}}</h3>
            </div>
            <div class="prices">
                <div   class="amount me-4">${{data.category }}</div>
                
                
                </div>
               
    
        </div> -->
      
          <table style="width: 450%;" class="table table-striped">
            <thead>
              <tr  >
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th></th>
                
              </tr>
            </thead>
            <tbody>
             
              <tr>
                <td><img style="width: 100px; height: 100px;" src="{{data.image}}" alt=""></td>
                <td>{{data.title}}</td>
                <td>{{data.price}}</td>
                <td>{{data.category}}</td>
                <td><button (click)="update(data)" data-toggle="modal" data-target="#myModal2" class="btn btn-info">Update</button></td>
            </tr>
            
              
            </tbody>
          </table>


         
<div class="modal fade" id="myModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center">
        <div class="modal-content w-75">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Update Product</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body p-4">
                <form  [formGroup]="form1">
                    <!-- Name input -->
                    <div data-mdb-input-init class="form-outline mb-4">
						<label class="form-label" for="name2">Title</label>
                        <input formControlName="title" type="text" id="name2" class="form-control" placeholder="Title" />
                        
                    </div>

                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
						<label class="form-label" for="email2">Price</label>
                        <input formControlName="price"  type="number" id="email2" class="form-control" placeholder="Price" />
                    </div>

                    <!-- password input -->
                   
					<div data-mdb-input-init class="form-outline mb-4">
						<app-select (selectedValue)="selectedcat($event)" style="border: none;" 
                        [select]="form1.value.category"
						[all]="false"  class="form-select text-center" [data]="AllCategory" [title]="title"></app-select>
					</div>
					<div data-mdb-input-init class="form-outline mb-4">
						<label class="form-label" for="email2">Image</label>
						<img style="width: 100%; max-height: 75px;" src="{{base64}}" alt="">
                        <input    type="file" id="email2" class="form-control"  />
                    </div>
					<div data-mdb-input-init class="form-outline mb-4">
						<label class="form-label" for="email2">Description</label>
						<br>
                        <textarea style="max-width: 100%; min-width: 100%; min-height: 100px; max-height: 100px;"
						formControlName="description" placeholder="type here ....." name="" id="" cols="40" rows="2"></textarea>
                    </div>
					
                    <!-- Submit button -->
                    <button  data-dismiss="modal" (click)="updateproduct()"
					 type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-block ">Update Product</button>
                </form>
            </div>
        </div>
    </div>
</div>
    
    

